<!DOCTYPE html>
<html>
<head>
    <title>Hoo's Hot | Game</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY4E9uAdgpAZNzSTNIofmkZdKAAIE37X4&callback=initMap" async defer></script>
    <script>
        var map;
        var marker;
        function initMap() {
            var initialLocation = {lat: 38.0353, lng: -78.5035};

            map = new google.maps.Map(document.getElementById('map'), {
                center: initialLocation,
                zoom: 15
            });

            marker = new google.maps.Marker({
                position: initialLocation,
                map: map,
                draggable: true
            });

            google.maps.event.addListener(marker, 'dragend', function(evt) {
                document.getElementById('id_latitude').value = evt.latLng.lat().toFixed(6);
                document.getElementById('id_longitude').value = evt.latLng.lng().toFixed(6);
            });


            // Event listener for the button click
            document.getElementById('getHint').addEventListener('click', function () {
                const center = map.getCenter(); // Get the current map center
                const latitude = center.lat();
                const longitude = center.lng();

                // Make an AJAX request to your Django view
                fetch("{% url 'update_hint' %}?lat=" + latitude + "&lng=" + longitude)
                    .then(response => response.json())
                    .then(data => {
                        alert("Coordinates sent to the server!");
                    });
            });





        }


    </script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <H1>Request a Hint!</H1>
    <button id="getHint">GET HINT</button>
</body>
</html>
